@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello ---------> This is FrontEnd <---------</h1>
        <h1 class="display-4">Made by Kallol Biswas</h1>
    <p>Learn about <a href="https://www.linkedin.com/in/kallol-biswas-544787160/">building Web apps with ASP.NET Core</a>.</p>
</div>
